body {
	font-family: sans-serif;
	margin: 0;
	color: white;
}

h1,
h2 {
  font-family: Roboto, sans-serif;
}

h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 0;
}

p, ul, ol {
	font-size: 20px;
	line-height: 1.5;
}

a {
  color: #38A88F;
}

header {
	text-align: center;
	background-size: cover;
	transition: transform 2s;
}

header img {
	border-radius: 50%;
	border: 3px solid #fff;
	padding: 0px;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  width: 100%
  height: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 100px;
}

.image {
  width:100%;
  height:100%;
  transition: transform 2s;
}

.header:hover { transform:scale(1.1) }

.padded {
	padding: 50px 100px;
}

#about {
	background: #FFCA59;
}

#about {
	background: black;
}
ul.websites {
	padding: 0;
	margin-bottom: 1em;
}

ul.websites li {
	list-style: none;
	display: inline-block;
}

.websites a {
	background: #38A88F;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
	display: block;
}

.websites a:hover {
	background: #666;
}

#links {
	background: black;
}

.links h2 {
	color: #FF572B;
}

.contact {
	background: #666;
	text-align: center;
	background: url(images/dark_embroidery.png);
}

.contact h2 {
	color: white;
}

.contact img {
	border-radius: 50%;
	width: 100px;
	margin: 10px;
}

.contact img:hover {
	opacity: .5;
}
